img {
  width: 100%;
}

#htmlShow_body {
  overflow-x: scroll;
  overflow-y: scroll;
  height: calc(100vh - 0.5rem - 30px);
}

#htmlShow_tableOfContents {
  overflow-x: scroll;
  overflow-y: scroll;
  height: calc(100vh - 0.5rem - 30px);
  min-width: 20%;
}
